.side-contents
  .side-header
    .side-header__box
      %p.side-header__box__name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__user
        = link_to do
          = icon('fas','edit', class: 'icon')
        %li.side-header__box__edit
        = link_to edit_user_path(current_user) do
          = icon('fas','cog',class: 'icon')

  .side-group
    = link_to "#", class: "group" do
      %p.side-group__name
        グループネーム
      %p.side-group__message
        メッセージはありません
